<div class="container">
  <cc-select label="Year" [options]="years" (selected)="onSelectedYear($event)"></cc-select>
  <cc-select label="Month" [options]="months" (selected)="onSelectedMonth($event)"></cc-select>

  <cc-calendar-view [weekdays]="weekdays" [weeks]="weeks"></cc-calendar-view>

  <cc-alert *ngIf="erroMessage">
      {{ erroMessage }}
  </cc-alert>
  
</div>