@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

table {
  width: 100%;
  text-align: center;
}

th.mat-header-cell {
  color: mat-color($primary);
  text-align: center;
}

