<table mat-table [dataSource]="weeks" class="mat-elevation-z8">

  <ng-container *ngFor="let weekday of weekdays; let i = index" matColumnDef="{{weekday}}">
    <th mat-header-cell *matHeaderCellDef> {{weekday}} </th>
    <td mat-cell *matCellDef="let week">
      <cc-day-view [day]="week.days[i]"
                   [highlight]="week.days[i].isToday()"
                   [disabled]="!week.days[i].isCurrentMonth()">
      </cc-day-view>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="weekdays"></tr>
  <tr mat-row *matRowDef="let row; columns: weekdays;"></tr>

</table>