<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <mat-select (selectionChange)="onSelectionChange($event.value)">
    <mat-option *ngFor="let option of options;" [value]="option.value">
      {{ option.description }}
    </mat-option>
  </mat-select>
</mat-form-field>