div {
  height: 65px;

  & p.day {
    font-size: 22px;
    margin: 0.5em 0;
  }

  & p.description {
    text-transform: capitalize;
    margin: 0.5em 0;
  }

  &.highlight  p {
    font-weight: bold;
    color: #3f51b5;
  }

  &.disabled  {
    color: #cccccc;
  }
  
}
